<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#person",
      "name": "Reece Nicholls",
      "givenName": "Reece",
      "familyName": "Nicholls",
      "url": "{{ site.url }}",
      "image": "{{ site.url }}/assets/reece.jpg",
      "jobTitle": "Full-Stack .NET & Software Engineer",
      "worksFor": {
        "@type": "CollegeOrUniversity",
        "name": "University of the West of England (UWE Bristol)",
        "url": "https://www.uwe.ac.uk",
        "sameAs": "https://en.wikipedia.org/wiki/University_of_the_West_of_England"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "University of the West of England (UWE Bristol)",
        "url": "https://www.uwe.ac.uk",
        "sameAs": "https://en.wikipedia.org/wiki/University_of_the_West_of_England"
      },
      "nationality": {
        "@type": "Country",
        "name": "United Kingdom"
      },
      "knowsAbout": [
        "C#",
        ".NET",
        "ASP.NET Core",
        "Microsoft Azure",
        "DevOps",
        "CI/CD Automation",
        "Cloud Architecture",
        "Artificial Intelligence",
        "Natural Language Processing",
        "Full-Stack Web Development"
      ],
      "sameAs": [
        "https://people.uwe.ac.uk/Person/ReeceNicholls",
        "https://www.linkedin.com/in/reece-nicholls/",
        "https://doi.org/10.1007/978-3-031-15937-4_37",
        "https://github.com/ReeceNich",
        "https://www.youtube.com/@reecenicholls"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}",
      "name": "Reece Nicholls",
      "description": "{{ site.description }}",
      "publisher": {
        "@id": "{{ site.url }}/#person"
      },
      "inLanguage": "en-GB"
    },
    {
      "@type": "ProfilePage",
      "@id": "{{ site.url }}/#webpage",
      "url": "{{ site.url }}",
      "name": "{{ page.title | default: site.title }}",
      "isPartOf": {
        "@id": "{{ site.url }}/#website"
      },
      "mainEntity": {
        "@id": "{{ site.url }}/#person"
      }
    }
    {% if page.url == "/" or page.url == "" %}
    ,
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1007/978-3-031-15937-4_37",
      "headline": "{{ site.data.projects.flagship.title }}",
      "name": "{{ site.data.projects.flagship.title }}",
      "author": {
        "@id": "{{ site.url }}/#person"
      },
      "datePublished": "2022-09-07T00:00:00+01:00",
      "dateModified": "2022-09-07T00:00:00+01:00",
      "description": "{{ site.data.projects.flagship.summary }}",
      "url": "https://doi.org/10.1007/978-3-031-15937-4_37",
      "sameAs": "https://doi.org/10.1007/978-3-031-15937-4_37",
      "isPartOf": {
        "@type": "PublicationIssue",
        "name": "{{ site.data.projects.flagship.publication }}",
        "publisher": {
          "@type": "Organization",
          "name": "Springer Nature"
        }
      }
    }
    {% endif %}
  ]
}
</script>
