body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgb(30, 30, 30);
    background: url("/assets/background.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    /* background-position: center center;   */
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: ; */
    /* height: em; */
    padding: 0px;
    background: rgb(0, 0, 0);
}

.navbar h1 {
    font-weight: 300;
    margin: 0px 1rem;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    /* padding: 1em 0em 0em 0em; */
    /* background-color: red; */
}

.navbar-item {
    list-style-type: none;
    /* margin: 0em 0.5em 1em 0.5em; */
    /* border: 1px solid black; */
    /* padding: 1em; */
    padding: 0px;
    /* background-color: green; */

}

.navbar-item > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.8em 1.5em;
    transition: all 75ms ease-in-out;
    margin: 0px;
    /* background: ; */

}

.navbar-item > a:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* filter: brightness(90%); */
}

@media screen and (max-width: 650px) {
    .navbar-item { display: none; }
    /* .topnav a.icon {
        float: right;
        display: block;
    } */
}


#intro {
    background: url("/assets/background.jpeg");
    object-fit: cover;
    /* height: 40em; */
    width: 100%;
    margin: 0px;

    padding: 5em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h2 {
    margin-top: 1em;
    margin-bottom: 0px;
}

#profile {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
    border: 5px rgb(220, 220, 220) solid;
    box-shadow: 0px 0px 30px rgb(150, 150, 150);
}

#intro p {
    width: 70%;
    text-align: center;
}




.section {
    background: url("/assets/background.jpeg");
    margin: 0px;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background: rgb(69, 69, 69);
    padding: 2em;
    margin: 2em 0em;
    width: 80%;

    border-radius: 1em;

    border: 2px rgb(220, 220, 220) solid;
    box-shadow: 0px 0px 15px rgb(150, 150, 150);
}

.box h2 {
    margin-top: 0px;
}

a {
    color: rgb(110, 190, 255);
}

.box img {
    width: 100%;
}





hr {
    border-top: 1px solid white;
}


.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: lime; */
}


.socials .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0.3em 0.6em 0.3em;
    color: white;
    border-radius: 0.5em;
    transition: all 100ms ease-in-out;
}

.fa:hover {
    filter: brightness(70%);
}

.fa-linkedin {
    background: rgb(0, 123, 181);
    color: white;
}

.fa-github {
    background: rgb(51, 51, 51);
    color: white;
}

.fa-youtube {
    background: rgb(234, 51, 35);
    color: white;
}